__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.ruff_cache
.uv_cache
.venv-*
.git
.gitignore
.env
*.md
.vscode
.idea
.history
manual_tests
docs
tests
*.spec
build*.py
install.*
